body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color:  #e07a00;
    padding: 30px 0;
    text-align: center;
    background-image: url('AR.png');
    background-repeat: no-repeat;
    background-position: 70px, center;
    background-size:60px;
    position: relative;
    padding-left: 64px;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
}
nav a:hover {
    background-color: orange;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
h1 {
    margin-top: 0;
}
.video-container {
    float: left;
    margin-right: 20px;
}
.video-container:last-child {
    margin-right: 0;
}
.video-container iframe {
    width: 300px;
    height: 168.75px; /* Mantendo a proporção 16:9 */
}

  
footer {
    background-color:#e07a00;
    padding: 20px 0;
    text-align: center;
}  

footer p {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
}

